# Deployment script (inneholder miljøvariabler/API-nøkler)
deploy.ps1

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Node
node_modules/
dist/
.vite/

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json

# Garmin Connect IQ build output
GarminSDK/bin/
GarminSDK/my-garmin-app/bin/

